/* Stylesheet */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.container {

	.forms-container {
		width: 400px;
    	margin: 0 auto;
    	text-align: center;

		.form {
			label {
			    display: block;
			    font-weight: bold;
			}
			input[type="text"],
			input[type="email"],
			input[type="tel"],
			input[type="url"] {
			    margin: 5px 0 5px 0;
			    width: 100%;
			    border: solid 1px #bdbdbd;
			    background: #fff;
			    color: #000;
			    padding: 8px;
			    font-size: 14px;
			}
			input[type="file"] {
			    margin: 5px 0 15px 0;
			    display: block;
			}
		}
	}

	h1 {
		text-align: center;
	}

	.button {
	    background-color: #0074cc;
	    border: 0;
	    padding: 10px 20px;
	    text-align: center;
	    color: #ffffff;
	    cursor: pointer;
	    transition: background-color 200ms ease-in-out;
	    text-decoration: none;
	    font-size: 16px;
	    font-weight: bold;
	    display: inline-block;
	    &:hover,
		&:focus {
    		background-color: #005ca2;
		}
	}

	.business-cards-container {

		.business-card {
			width: 25%;
			float: left;
			height: 256px;
			padding: 20px;
			margin: 20px 0;
		}

		.front {
			width: 100%;
			height: 256px;
		    background: #ff7200;
		    text-align: center;
		    padding: 20px;
		    color: #fff;
		    font-weight: bold;
		    &.editing {
		    	background: #0074cc;
		    }
		    a {
		    	color: #fff;
		    }
		    .logo {
		    	width: 175px;
				margin: 0 auto;
		    }
		}
		.back {
			width: 100%;
			height: 256px;
			background: #0074cc;
			text-align: center;
			.button {
				background: #005ca2;
				color: #fff;
				width: 80%;
				&:hover,
				&:focus {
		    		background-color: #00487f;
				}
			}
			.edit-button {
				margin: 60px 0;
			}
		}
		&:after {
		  content: "";
		  display: table;
		  clear: both;
		}
	}

}

@media (max-width: 1200px) {
    .container {
    	.business-cards-container .business-card {
   			width: 33%;
		}
	}
}

@media (max-width: 900px) {
    .container {
    	.business-cards-container .business-card {
   			width: 50%;
		}
	}
}

@media (max-width: 600px) {
    .container {
    	.business-cards-container .business-card {
   			width: 100%;
   			float: none;
		}
	}
}

@media (max-width: 450px) {
	.container .forms-container {
   		width: 100%;
	}
}

/* FLIPPER! */

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


/* flip speed goes here */
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}

/*  UPDATED! flip the pane when hovered */
  .flip-container:hover .back {
    transform: rotateY(0deg);
  }
  .flip-container:hover .front {
      transform: rotateY(180deg);
  }
